<button (click)="nextRandomPhoto()">
  Get Next Random Photo
</button>
<br />
<button (click)="addMorePhotos()">
  Force Add More Photos
</button>
<br />
<br />
<button (click)="printPS()">
  Print all PS url
</button>
<br />
<br />

<div>
  <!-- <h4>lastPhotoBundleSize: {{this.psCurrentState.lastPhotoBundleSize}}</h4> -->
  <h4>totalPhotoNumber: {{totalPhotoNumber}}</h4>
  <h4>lastBundleSize: {{lastBundleSize}}</h4>
  <h4>photoDisplayIndex: {{photoDisplayIndex}}</h4>
  <h4>photoStreamIndex: {{photoStreamIndex}}</h4>
  <h4>mainFramePhotoUrl: {{mainFramePhotoUrl}}</h4>
  <h4>type: {{mainFramePhotoType}}</h4>
  <img src="{{mainFramePhotoUrl}}">
</div>

<br />
<button (click)="addToFavorites()">
  Favorite Photo
</button>
<br />

<div class="text-center">
  <div class="col-sm-8 offset-sm-2">
    <a routerLink="/social-media" class="btn btn-link">Share</a>
  </div>
</div>